.navbar-toggler {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
@media (max-width: 991px) {
  .navbar {
    background: none !important;
  }

  .navbar-nav {
    border-radius: 8px;
    background-color: $white !important;
    box-shadow: $inset-shadow;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    .nav-item {
      text-align: center;
      .nav-link + .nav-link {
        margin-top: 5px !important ;
      }
    }
  }
}

.toggler-icon {
  color: $primary;
}
